* {
  box-sizing: border-box;
}

:root {
  --tt-width: 1000px;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    color: rgb(230, 230, 230);
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: #2c3e50;
  }
}

h1 {
  text-align: center;
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
}

.container {
  display: grid;
  place-items: center;
}

.turntable,
.tt-actions,
.debug {
  width: var(--tt-width);
}

.tt-actions,
.debug {
  margin: 0 auto;
}

.turntable {
  aspect-ratio: 16 / 9;
  display: flex;
  position: relative;
  background-color: hsl(0, 0%, 19%);
  border-radius: 4px;
}

canvas {
  border-radius: inherit;
  opacity: 0;
  transition: opacity 1s ease;

  &.visible {
    opacity: 1;
  }
}

.loader {
  text-align: center;
  background-color: hsl(0, 0%, 38%);
  color: rgb(32, 32, 32);
  padding-inline: 1em;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 1s ease;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  p {
    font-weight: 600;
    font-size: 1.25em;
  }
}

.loader-bar {
  height: 5px;
  width: 200px;
  background-color: rgba(141, 143, 143, 0.192);
  position: relative;
  margin-block: 1rem;

  .loader-bar__inner {
    position: absolute;
    left: 0;
    height: inherit;
    background-color: hsl(199, 56%, 48%);
  }
}

.tt-actions {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;

  button {
    background-color: transparent;

    &:hover {
      svg path {
        fill: hsl(199, 56%, 48%);
      }
    }
  }

  svg {
    width: 56px;
    height: 56px;

    path {
      transition: fill 200ms ease;
    }
  }
}

.debug {
  display: flex;
  gap: 2em;

  label {
    display: block;
    margin: 1em 0;
  }

  .form-field {
    label {
      margin: 0 0 0.5em 0;
    }
  }
}

input[type='number'] {
  padding: 0.5em 0.75em;
}
