* {
  box-sizing: border-box;
}

:root {
  --tt-width: 1000px;
  --bg-dark: hsl(0, 0%, 9%);
  --bg-light: hsla(263, 25%, 80%);
  --text-dark: hsl(0, 0%, 91%);
  --text-light: hsl(222, 18%, 11%);
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  min-height: 100vh;
  margin-block-end: 2em;
  transition: color 300ms ease, background-color 300ms ease;

  @media (min-width: 1024px) {
    margin-block-end: 0;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--text-dark);
    background-color: var(--bg-dark);
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: var(--text-light);
    background-color: var(--bg-light);
  }
}

h1 {
  text-align: center;
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
}

fieldset {
  border: none;
  padding: 0;
}

.container {
  display: grid;
  place-items: center;
}

.container,
.tt-actions,
.debug {
  width: 100%;

  @media (min-width: 1024px) {
    width: var(--tt-width);
    margin: 0 auto;
  }
}

.turntable {
  --bg-dark: hsl(0, 0%, 15%);
  --bg-light: hsl(0, 0%, 100%);

  width: inherit;
  aspect-ratio: 16 / 9;
  display: flex;
  position: relative;
  background-color: var(--bg-dark);

  @media (min-width: 1024px) {
    width: var(--tt-width);
    border-radius: 4px;
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--bg-dark);
  }

  @media (prefers-color-scheme: light) {
    background-color: var(--bg-light);
  }
}

canvas {
  width: inherit;
  border-radius: inherit;
  opacity: 0;
  transition: opacity 1s ease;

  &.visible {
    opacity: 1;
  }
}

.loader {
  --bg-dark: hsl(0, 0%, 11%);
  --bg-light: hsl(159, 61%, 68%);

  text-align: center;
  color: rgb(219, 219, 219);
  padding-inline: 1em;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 1s ease;

  @media (prefers-color-scheme: dark) {
    background-color: var(--bg-dark);
  }

  @media (prefers-color-scheme: light) {
    background-color: var(--bg-light);
    color: var(--text-light);
  }

  &.invisible {
    display: none;
  }

  p {
    font-weight: 600;
    font-size: 1.25em;
  }
}

.loader-bar {
  --rail-dark: rgba(141, 143, 143, 0.25);
  --rail-light: rgba(255, 255, 255, 0.5);

  height: 5px;
  width: 200px;
  background-color: var(--rail-dark);
  position: relative;
  margin-block: 1rem;

  @media (prefers-color-scheme: light) {
    background-color: var(--rail-light);
  }

  .loader-bar__inner {
    position: absolute;
    left: 0;
    height: inherit;
    background-color: hsl(210, 48%, 47%);
  }
}

.loading-hint {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5em;
  gap: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  transition: opacity 1s ease;

  @media (min-width: 1024px) {
    font-size: 2em;
    bottom: 10px;
    right: 20px;
    left: unset;
    transform: unset;
    flex-direction: row;
    align-items: unset;
  }

  .hand-point-down {
    animation: bounce 1.5s ease-in infinite alternate;

    width: 40px;

    @media (min-width: 1024px) {
      width: 70px;
    }

    path {
      fill: hsl(210, 48%, 47%);
    }
  }
}

.tt-actions {
  display: flex;
  justify-content: space-between;
  margin-block: 1em;

  button {
    background-color: transparent;
    transition: opacity 1s ease;

    &:disabled {
      opacity: 0.2;
      cursor: not-allowed;
    }

    &:not(:disabled) {
      &:hover,
      &:focus-visible {
        svg path {
          fill: hsl(210, 48%, 47%);
        }
      }
    }
  }

  svg {
    width: 56px;
    height: 56px;

    path {
      transition: fill 200ms ease;
    }
  }
}

.debug {
  display: flex;
  flex-direction: column;
  padding-inline: 1em;
  font-size: 1.125em;

  @media (min-width: 1024px) {
    gap: 2em;
    flex-direction: row;
    padding-inline: 0;
  }

  label {
    display: block;
    margin: 1em 0;
  }

  .form-field {
    label {
      margin: 0 0 0.5em 0;
    }
  }
}

.info {
  min-width: 25ch;
}

input[type='number'] {
  padding: 0.5em 0.75em;
}

.actions {
  flex-grow: 1;

  .btn-demand {
    width: 100%;
    height: 100%;
    padding: 2em;
    font-size: 1.125em;
    transition: background-color 300ms ease;
    margin-block-start: 1em;
    border-radius: 4px;

    @media (min-width: 1024px) {
      margin-block-start: unset;
    }

    span {
      font-size: 1.5rem;
    }

    &:not(:disabled) {
      &:hover,
      &:focus-visible {
        background-color: hsl(210, 48%, 47%);
      }
    }

    &.loaded {
      cursor: not-allowed;
    }
  }
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-30px);
  }
}
